.App {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-bottom: 10vh;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0 7vh 0;
  font-size: 0.6rem;
}

.navbar img {
  height: 20vh;
}

.home {
  display: flex;
  justify-content: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 10px 0px;
  width: 250px; 
  min-height: 376px;
}

.cart-item {
  display: flex;
  align-items: center;
  width: 50%;
  border-bottom: rgb(218, 218, 218) solid 2px;
}

.store-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cart-item__name {
  width: 60%;
  display: flex;
}

.store-name {
  background-color: rgb(88, 188, 255);
  height: 1.5em;
  width: fit-content;
  padding: 0 1em;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

.store-cart:nth-child(3) .store-name{
  background-color: #f36;
}

.pay-button {
  background-color: rgb(88, 188, 255);
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
}

.cart-item__options {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 1%;
}

.cart-item__options button {
  background: none;
  border: none;
}

.cart-item__total {
  display: flex;
  justify-content: center;
  width: 15%;
}

.store-total {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.store-total__price {
  width: 15%;
  margin-left: 3%;
}

.cart-page-content {
  font-size: large;
  font-weight: bold;
}

.product-item p{
  font-size: 15px;
}

.product-item .material-icons{
  color: rgb(255, 255, 255); 
}
.product-item button {
  background-color: #e44;
  height: 5vh;
  width: 5vh;
  border: none;
  border-radius: 0 15px 0 15px;
}

.fast-shipping {
  background-color: #09f;
  color: white;
  margin-top: auto;
  border-radius: 0 0 15px 15px;
  height: 20px;
}

.space {
  background-color: #09f;
  margin-top: 20px;
}

.product-item p {
  margin: 5px 0 ;
}

.product-item__name {
  font-weight: bold;
}

.product-item__price {
  color: rgb(124, 124, 124);
}

.add-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.product-page {
  display: flex;
  flex-direction: column;
}

.product-page div {
  display: flex;
  align-items: center;
}

.product-page__img {
  justify-content: flex-end;
}

.product-page img {
  width: 50%;
  margin-right: 10px;
}

.product-page div div {
  width: 50%;
}

.product-page__options {
  flex-direction: column;
  justify-content: space-around;
}

.product-page__options * {
  align-self: flex-start;
  margin: 5px 0 15px 10px;
}

.product-page__description-title {
  justify-content: flex-end;
}

.product-page__description-title p {
  width: 60%;
}

.product-page__description span{
  width: 60%;
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
  color: rgb(94 87 87);
}

.product-item__units {
  color: rgb(97, 97, 97);
}

.product-page__options button {
  background-color: rgb(252, 74, 74);
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
}